

*{
    margin: 0;
    padding: 0;
}

/* shared style start*/
.section{
    width: 1200px;
    
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid red;
   

}
/* shared style end*/

/* header section start */
nav{
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
}
nav h1{
    
    font-size: 45px;
    color: #0D1321;
}
nav button{
    width: 221px;
    height: 55px;
}
/* header section end */


/* banner container section start */
.banner-container{
    height: 700px;
    background: linear-gradient(#ADDCFF);
    background-image: url("./assets/Hero-bg.png");
    background-blend-mode: overlay;
    
    
    
}
.banner-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-image{
    padding-top: 50px;

}
.banner-image .banner-contant img{
    width: 240px;
    height: 240px;
    text-align: center;
    
}
.banner-title{
    text-align: center;

}
.banner-contant .banner-title h1{
    font-size: 60px;
    color: #0D1321;
    line-height: 80px;
    

}
.banner-contant .banner-title p{
    font-size: 20px;
    color: #605b5b;
    width: 70%;
    margin-left: 220px;
}
.banner-contant .banner-title .banner-btn{
    width:  180px;
    height:  50px;
    margin: o auto;
    margin-top: 40px;
    background: rgb(13, 19, 33);
    border-radius: 10px;
    outline: none;
}
.banner-contant .banner-title .banner-btn a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
}
/* banner container section end */



/* about-development  section start */
.about-development{
    height: 1400px;
    
    
}
.about-development-contant{
    width: 950px;
    height: 1300px;
    margin: 0 auto;
    margin-top: 75px;
    
    
}
.about-development-contant .contant-title{
    
    text-align: center;
    
    margin-top: 10px;

}

.about-development-contant .contant-title h1{
    font-size: 32px;
    font-weight: 800;

}
.about-development-contant .contant-title p{
    font-size: 20px;
    color: #605b5b;
    margin-top: 20px;
    justify-content: center;
}

.dev-image-contant{
    margin-top: 100px;
    display: flex;
    gap: 200px;
}
.dev-image-contant .title h1 {
   font-size: 30px;
   font-weight: 800;

   
}
.dev-image-contant .title p{
    font-size: 18px;
    font-weight: 500;
    color: #605b5b;
    margin-top: 50px;

}
.dev-image-contant .title button{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.dev-image-contant-2{
    margin-top: 100px;
    display: flex;
    gap: 200px;

}
.dev-image-contant-2 .contant-title-2 h1{
    font-size: 28px;
    font-weight: 800;
}
.dev-image-contant-2 .contant-title-2 p{
    font-size: 18px;
    font-weight: 500;
    color: #605b5b;
    margin-top: 50px;
}

.dev-image-contant-2 .contant-title-2 button{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.dev-image-contant-3{
    margin-top: 100px;
    display: flex;
    gap: 200px;

}
.dev-image-contant-3 .contant-title-3 h1{
    font-size: 28px;
    font-weight: 800;
}
.dev-image-contant-3 .contant-title-3 p{
    font-size: 18px;
    font-weight: 500;
    color: #605b5b;
    margin-top: 50px;
}

.dev-image-contant-3 .contant-title-3 button{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* about-development  section end */




/* inspriation section start */
.inspriation{
    height: 900px;
    
}
.inspriation-title{
    text-align: center;
    justify-content: center;
}
.inspriation-title h1{
    font-size: 40px;
    color: #0D1321;
    line-height: 80px;
}

.inspriation-title p{
    width: 80%;
    margin-left: 120px;
    font-size: 16px;
    font-weight: 500;
    color: #605b5b;
    margin-top: 50px;
}
.inspriation-video{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.inspriation-video video{
    border: 4px solid rgba(13, 19, 3, 0.2);
    border-radius: 16px;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
/* inspriation section end */



/* my-terget section start */
.my-target{
    height: 1000px;
}
.my-target .my-target-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.my-target .my-target-title h1{
    font-size: 30px;
    color: #0D1321;
    line-height: 80px;
    
}

.my-target .my-target-title p{
     width: 80%;
    margin-left: 120px;
    font-size: 16px;
    font-weight: 500;
    color: #605b5b;
    margin-top: 22px;
}
.my-target .target-items{
    display: flex;
    margin: 5px;
    margin-top: 39px;
    justify-content: space-around;
}
.my-target .item-box{
    width: 280px;
    height: 219px;
    border: 2px solid red;
    

}
.my-target .item1 {
    
    background: rgba(255, 76, 30, 0.05);
}

.my-target .item2 {
background: rgba(0, 76, 232, 0.05); 
}

.my-target .item3 {
    background: rgba(255, 223, 0, 0.05);
    
}
.my-target .item-box img,h3{
    display: flex;
    margin-left:  5px;
    margin-top: 10px;
}

.my-target .item-box p,h3{
    display: flex;
    margin-left: 15px;
    text-align: justify;
    
}
.my-target .item-box a{
    display: flex;
    margin-left: 15px;

}
.my-next-target-items{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.my-next-target .next-item{
    display: flex;
    gap: 5px;
    text-align: justify;
    gap: 10px;
    flex-direction: row;
    width: 1085px;
    height: 100px;
    margin: 0 auto;
    margin: 10px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    border-radius: 16px;
}
.my-next-target .next-item P{
    font-size: 16px;
    font-weight: 500;
    color: #605b5b;
    margin-left: 20px;
    text-align: justify;
}
.my-next-target .next-item a{
    color: black ;
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}

/* 
my-terget section end */